<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <title>alathon Example-SMART-App</title>

    <link rel='stylesheet' type='text/css' href='./src/css/example-smart-app.css'>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- FHIR Client JS Library -->
    <script src='./lib/js/fhir-client-v0.1.12.js'></script>

    <!-- Prevent session bleed caused by single threaded embedded browser and sessionStorage API -->
    <!-- https://github.com/cerner/fhir-client-cerner-additions -->
    <script src='./lib/js/fhir-client-cerner-additions-1.0.0.js'></script>
  </head>
  <body>
    <div id='errors'>
    <div id="loading" class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
    <div id='holder'>
      <div id="app">
        <h2>Patient</h2>
        <table>
          <tr>
            <th>First Name:</th>
            <td>{{ fname }}</td>
          </tr>
          <tr>
            <th>Last Name:</th>
            <td>{{ lname }}</td>
          </tr>
          <tr>
            <th>Gender:</th>
            <td>{{ gender }}</td>
          </tr>
          <tr>
            <th>Date of Birth:</th>
            <td>{{ birthdate }}</td>
          </tr>
        </table>

        <h2>SCAUT Medications List</h2>
          <table v-for="med in scautMedications" style="padding-bottom: 10px">
            <tr>
              <th>Medication name:</th>
              <td>{{ med.name }}</td>
            </tr>
            <tr>
              <th>Medication form:</th>
              <td>{{ med.form }}</td>
            </tr>
            <tr>
              <th>Medication strength</th>
              <td>{{ med.strength }}</td>
            </tr>
          </table>
        <br/>
        <h2>EHR Medication List</h2>
          <table v-for="med in ehrMedications" style="padding-bottom: 10px">
            <tr>
              <th>Medication text:</th>
              <td>{{ med.text }}</td>
            </tr>
            <tr>
              <th>Medication dosage:</th>
              <td>{{ med.dosage }}</td>
            </tr>
            <tr>
              <th>Medication lastUpdated</th>
              <td>{{ med.lastUpdated }}</td>
            </tr>
          </table>
          <br/>
      </div>
    </div>
    <!-- Application-level javascript-->
    <script src='./src/js/vue-app.js'></script>
  </body>
</html>
